@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@400&display=swap');


@import "tailwindcss";

@theme {
  --font-minecraft: "Minecraf", sans-serif;
  --font-archivo: "Archivo", sans-serif;
  --font-funnel: "Funnel Display", sans-serif;
}

@font-face {
  font-family: Minecraf;
  font-weight: 500;
  src: url("./assets/fonts/MinecraftRegular-Bmg3.otf") format("woff2");
}
